<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marking.cpuscheduling">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LJFC2"></activity>
        <activity android:name=".LJF2" />
        <activity android:name=".forljf" />
        <activity android:name=".Prioruty2" />
        <activity android:name=".Priority2" />
        <activity android:name=".forpriority" />
        <activity android:name=".LJFC1" />
        <activity android:name=".Result" />
        <activity android:name=".LJFC" />
        <activity android:name=".Prioruty" />
        <activity android:name=".LJF" />
        <activity android:name=".Priority" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>